<p-menubar styleClass="flex shadow-2">
    <ng-template pTemplate="start">
        <img ngSrc="../../../assets/images/logo.png" alt="logo" height="60" width="190">

    </ng-template>

    <ng-template pTemplate="center">
        <div class="flex align-items-center gap-2">
            <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center">
            <a class="relative">
                <i class="pi pi-shopping-cart text-2xl mx-6 text-dark"></i>
                <p-tag value="5" class="cart-no" [rounded]="true"/>
            </a>
            <p-button label="Login" [rounded]="true" styleClass="py-2 px-3 mx-2"/>
            <p-button label="Sign Up" [rounded]="true" severity="secondary" styleClass="py-2 px-3 mx-2"/>
        </div>

    </ng-template>
</p-menubar>
