<div class="flex flex-row align-content-between">
        <img ngSrc="../../../assets/images/logo.png" class="flex-0 mr-3" alt="logo" height="60" width="190">


        <div class="card flex flex-row align-items-center flex-1">
            <form [formGroup]="searchBarForm">
                <p-dropdown
                        formControlName="selectedProductType"
                        [options]="productTypes"
                        optionLabel="name"
                        placeholder="Select a Product" />

                <p-autoComplete
                        formControlName="selectedProduct"
                        [suggestions]="filteredProducts"
                        (completeMethod)="filterProduct($event)"
                        field="name" />
            </form>


        </div>

        <div class="flex align-items-center flex-0">
            <a class="relative">
                <i class="pi pi-shopping-cart text-2xl mx-6 text-dark"></i>
                <p-tag value="5" class="cart-no" [rounded]="true"/>
            </a>
            <p-button label="Login" [rounded]="true" styleClass="py-2 px-3 mx-2"/>
            <p-button label="Sign Up" [rounded]="true" severity="secondary" styleClass="py-2 px-3 mx-2"/>
        </div>
</div>
