<p-megaMenu [model]="items" styleClass="flex shadow-2">


    <ng-template pTemplate="item" let-item>
        <a *ngIf="item.root" pRipple class="flex align-items-center cursor-pointer px-2 py-2 overflow-hidden relative">
            <i [ngClass]="item.icon"></i>
            <span class="ml-1"> {{ item.label }} </span>
            <i class="pi pi-angle-down"></i>
        </a>
        <a *ngIf="!item.root && !item.image" class="flex align-items-center p-1 cursor-pointer gap-1 my-1">
      <span class="inline-flex flex-column gap-1">
        <span class="font-medium ">{{ item.label }}</span>
        <span class="white-space-nowrap">{{ item.subtext }}</span>
      </span>
        </a>
    </ng-template>

</p-megaMenu>
